<h1>
Data Science Tools and Ecosystem
</h1>

This notebook provides an overview of essential data science tools and the ecosystem

**Objectives**

- List of popular Languages used in Data Science.
- Overview on some of the most commonly used libraries.
- Tools used for Data Science.
- Introduction to arithmetic expressions.

some popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

Some of the most commonly used Data Science libraries are:

1. Numpy
2. Pandas
3. Matplotlib
4. SciPy
5. Scikit-learn

 | Data Science Tools |
|---------------------|
| Jupyter Notebook    |
|  R studio           |
| Apache Spark        |

<H3>Below are few examples of evaluating arithmetic expressions in Python.</H3>

In [8]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

<H2>Author</H2>

Madhuri Pilli